[Desktop Entry]
Name=Install Linux Mint
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=gksudo /usr/bin/live-installer
Icon=/usr/share/live-installer/logo.png
Terminal=False
Type=Application
Categories=System;
