[Desktop Entry]
Name=Install Linux Mint
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=gksudo /usr/bin/live-installer
Icon=live-installer
Terminal=False
Type=Application
Categories=System;
