[Unit]
Description=Installing Live Drivers
Before=lightdm.service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
Restart=no
Before=lightdm.service
ExecStart=/usr/bin/install-live-drivers
StandardOutput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target

