[Unit]
Description=live-save
Before=display-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/live-installer/service.py

[Install]
WantedBy=multi-user.target
