#TimezoneLabel {
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 4px;
}


.entry_normal {
  border-color: Green;
  border-width: 1px;

}
.entry_error {
  border-color: Red;
  border-width: 2px;
}

.entry_warning {
  border-color: #cccc00;
  border-width: 2px;
}

#key_label_primary {
  font-size: 16px;
  font-family: monospace;
}
#key_label_secondary {
  font-size: 8px;
  font-family: monospace;
}
