Source: 17g-installer
Maintainer: Ali Riza KESKIN <ali.riza.keskin@pardus.org.tr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0
Section: utils

Package: 17g-installer
Priority: extra  
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
                    live-boot,
                    live-tools,
                    locales,
                    python3-parted,
                    gparted,
                    python3-gi,
                    gir1.2-gtk-3.0,
                    python3-cairo,
                    python3-defusedxml,
                    python3-yaml,
                    gettext-base,
                    isoquery,
                    librsvg2-common,
                    parted,
                    dosfstools,
                    console-setup,
                    btrfs-progs
Description: 17g live installer
 17G is an alternative live installation tools.
